.check-ed:checked ~ .checkmark,
.check-ed:checked ~ .checkmark-2 {
    background-color: #25DAC5;
    border-color: #25DAC5;
}

.checkmark::before {
  border: solid #fff;
}
.checkmark-2::before{
  border: solid #212529;
}

.checkmark::before,
.checkmark-2::before{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1.5px;
    width: 6px;
    height: 12px;
/*     border: solid #fff; */
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.check-ed:checked ~ .checkmark::before,
.check-ed:checked ~ .checkmark-2::before{
    display: block;
}

.middle-line {
    display: flex;
    flex-direction: row;
  }
  .middle-line:before, .middle-line:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .middle-line:before {
    margin-right: 10px
  }
  .middle-line:after {
    margin-left: 10px
  }

  .ctc-7:hover > i {
    color: var(--clr);
  }

